@page
@model StudentsModel
@{
}


<br />

<h2>Students</h2>

<a class="btn btn-primary btn-sm" href="/Students/Create">New Student</a> <!-- button for adding new students -->

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Course</th>
        </tr>
    </thead>

    @foreach (var student in Model.Allstudents)
    {
        <tr id="studentTable">
            <td>@student.Id</td>
            <td>@student.firstName</td>
            <td>@student.lastName</td>
            <td>@student.course</td>
            <td>
                <div class="studentButtons">

                    <a class="btn btn-primary btn-sm" href="/Students/Edit?id=">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Students/Delete?id=">Delete</a>

                </div>

            </td>
        </tr>
    }
        
</table>
    

