@page
@model StudentsModel
@{
}


<br />

<h2>Students</h2>

<a class="btn btn-primary btn-sm" href="/Students/CreateStudent">New Student</a> <!-- button for adding new students -->

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Course</th>
        </tr>
    </thead>
</table>

