@page
@model StudentsModel
@{
}


<br />

<h2>Students</h2>



<label for="filter">Sort by:</label>

<select name="filter" id="filter" onchange="gotopage(this)">
    
    <option value="idasc">ID (Ascending)</option>
    <option value="iddesc">ID (Descending)</option>
    <option value="firstnameASC">First Name (Ascending)</option>
    <option value="firstnameDESC">First Name (Descending)</option>
    <option value="lastnameASC">Last Name (Ascending)</option>
    <option value="lasttnameDESC">Last Name (Descending)</option>
    <option value="course">Course</option>
</select>

<script type="text/javascript">
    function gotopage(filter) {
        var value = filter.options[filter.selectedIndex].value;
        window.location.href = "/Students?sortby="+value;
    }
</script>

<a class="btn btn-primary btn-sm" href="/Students/Create">New Student</a> <!-- button for adding new students -->

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Course</th>
        </tr>
    </thead>

    @foreach (var student in Model.Allstudents)
    {
        <tr id="studentTable">
            <td>@student.Id</td>
            <td>@student.firstName</td>
            <td>@student.lastName</td>
            <td>@student.course</td>
            <td>
                <div class="studentButtons">

                    <a class="btn btn-primary btn-sm" href="/Students/Edit?id=@student.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Students/Delete?id=@student.Id">Delete</a>

                </div>

            </td>
        </tr>
    }
        
</table>
    

